
<section class="contact-page page">
    <div class="page-container">
        <div class="home-image">
            <img src="/images/food2.jpg" alt="">
        </div>
        

        <form action="/subscribe" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="zipCode" placeholder="Zip Code" pattern="[0-9]{5}">
            <input class="btn" type="submit" name="submit">
        </form>
    </div>
</section>

