
<section class="contact-page page">
    <div class="page-container">
        <div class="home-image">
            <img src="/images/food2.jpg" alt="">
        </div>
        
        <form action="/contact" method="post">
            <label for="name">Name</label>
            <input type="text" name="name">
        
            <label for="email">Email</label>
            <input type="email" name="email">
            <input class="btn" type="button" value="Submit">
        </form>
    </div>
</section>

