<section class="home-page page">
    <!-- <div class="home-image">
        <div class="image-container">

            <img src="/images/food1.jpg" alt="">
        </div>
    </div>
    <div class="home-text">
        <h1>This is title</h1>
    </div> -->
    <div class="page-container">
        <div class="home-image">
            <img src="/images/food1.jpg" alt="">
        </div>
        <div class="home-text">
           <h1>Text Section</h1>
        </div>
    </div>
</section>
