<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/css/confetti_cuisine.css">
</head>
<body>
    <nav>
        <h1>Confetti Cuisine</h1>
        <ul>
            <li><a href="/" class="nav-links">Home</a></li>
            <li><a href="/courses" class="nav-links">Courses</a></li>
            <li><a href="/contact" class="nav-links">Contact</a></li>
        </ul>
        <div class="horizontal-line"></div>
    </nav>
    <%- body %>
</body>
</html>
